In [20]:
import pandas as pd
import numpy as np
import matplotlib as plt
import plotly as ply

In [25]:
county_house = pd.read_csv("/Users/abhiteshkumar/Desktop/project/Final_project_Covid19/Housing/County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
county_house.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,217262.0,...,768098.0,788101.0,800150.0,808817.0,811357.0,815924.0,821299.0,826486.0,834932.0,849633.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,177992.0,...,282996.0,286586.0,290384.0,293009.0,295534.0,298474.0,301243.0,303854.0,305637.0,308249.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,114993.0,...,232801.0,238159.0,243931.0,248343.0,252130.0,254718.0,257783.0,260976.0,264603.0,269303.0
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,144317.0,...,387068.0,400443.0,410502.0,418777.0,426330.0,432474.0,438257.0,444047.0,452792.0,462122.0
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,229073.0,...,765864.0,789895.0,804648.0,814441.0,819215.0,826807.0,838226.0,858817.0,879278.0,902655.0
5,1286,5,Orange County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,59,275792.0,...,890615.0,914022.0,931228.0,942262.0,952163.0,965096.0,983036.0,1006877.0,1028686.0,1053332.0
6,581,6,Kings County,County,NY,NY,New York-Newark-Jersey City,36,47,228347.0,...,816356.0,819862.0,827870.0,835476.0,840398.0,841788.0,842773.0,846396.0,851328.0,857888.0
7,2964,7,Miami-Dade County,County,FL,FL,Miami-Fort Lauderdale-West Palm Beach,12,86,133585.0,...,370011.0,376365.0,382932.0,390985.0,399543.0,407457.0,415439.0,423960.0,431759.0,440237.0
8,978,8,Dallas County,County,TX,TX,Dallas-Fort Worth-Arlington,48,113,115038.0,...,259821.0,264456.0,271424.0,278296.0,283886.0,287129.0,290023.0,295233.0,302548.0,309905.0
9,1347,9,Queens County,County,NY,NY,New York-Newark-Jersey City,36,81,252661.0,...,685064.0,689452.0,692180.0,697558.0,702917.0,707359.0,709672.0,712825.0,716468.0,721698.0

In [26]:
SDhouse = county_house.loc[county_house["RegionName"] == "San Diego County"]
SDhouse.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,229073.0,...,765864.0,789895.0,804648.0,814441.0,819215.0,826807.0,838226.0,858817.0,879278.0,902655.0

In [24]:
SDIndex = pd.read_excel('/Users/abhiteshkumar/Desktop/project/Final_project_Covid19/Housing/San_Diego_Home_Value_Index.xlsx', index_col=0)
SDIndex.head()

            Home Value Index
Date
2000-01-31            229073
2000-02-29            230320
2000-03-31            231670
2000-04-30            234682
2000-05-31            237569