In [1]:
# import dependencies
import pandas as pd
import numpy as np

# for SQL:
from sqlalchemy import create_engine
from config import db_password

In [2]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Miami_RNA_db"

In [3]:
engine = create_engine(db_string)

In [4]:
Miami_RNA_df = pd.read_csv('Miami_RNA_and_Cases.csv')
Miami_RNA_df.head(10)

,Unnamed: 0,week,year,effective_concentration_rolling_average,region,state,name,rolling_average_cases_per_100k_centered
0,0,13,2020,62.425517,South,FL,"Miami-Dade County, FL",44.146303
1,1,14,2020,141.444303,South,FL,"Miami-Dade County, FL",102.016029
2,2,15,2020,107.433821,South,FL,"Miami-Dade County, FL",103.603949
3,3,16,2020,69.448164,South,FL,"Miami-Dade County, FL",85.721437
4,4,17,2020,86.252784,South,FL,"Miami-Dade County, FL",71.756146
5,5,18,2020,92.047093,South,FL,"Miami-Dade County, FL",54.409951
6,6,19,2020,254.075943,South,FL,"Miami-Dade County, FL",45.066456
7,7,20,2020,118.376995,South,FL,"Miami-Dade County, FL",55.209169
8,8,21,2020,44.935063,South,FL,"Miami-Dade County, FL",48.610359
9,9,22,2020,56.578649,South,FL,"Miami-Dade County, FL",41.117686

In [5]:
Miami_RNA_df.to_sql(name = 'Miami', con=engine)